.git
.github
node_modules
apps/*/node_modules

.env
.env.*
apps/*/.env
apps/*/.env.*

apps/web/.nuxt
apps/web/.output
apps/web/node_modules/.cache

apps/cms/dist
apps/cms/build
apps/cms/.cache
apps/cms/.tmp
apps/cms/.strapi-updater.json
apps/cms/public/uploads/*
!apps/cms/public/uploads/.gitkeep

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
